<h1>Novo Livro</h1>
<%= form_for :book, url: books_path do |b| %>
<ul>
  <li>
    <%= b.label :title %>
    <%= b.text_field :title %>
  </li>
  <li>
    <%= b.label :author %>
    <%= b.text_field :author %>
  </li>
</ul>
<%= b.submit %>
<% end %>
